@import "variables";

@media only screen and (min-width: 1400px) {
  .recommend {
    .carousel {
      .body {
        .slick-arrow {
          &.fa-chevron-left {
            left: -75px;
          }
          &.fa-chevron-right {
            right: -75px;

          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1399px) {
  .recommend {
    .carousel {
      .body {
        .slick-arrow {
          &.fa-chevron-left {
            left: -40px;
          }
          &.fa-chevron-right {
            right: -40px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1199px) {
  .recommend {
    .carousel {
      .body {
        .slick-arrow {
          &.fa-chevron-left {
            left: 0;
          }
          &.fa-chevron-right {
            right: 0;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {

}

@media only screen and (min-width: 992px) {
  .header {
    .hd-center {
      .basket {
        .basket-items {
          &:hover {
            ul {
              display: block;
            }
          }
        }
      }
    }
  }

  .recommend {
    .item {
      &:last-child {
        > div {
          &::after {
            border-right: none;
          }
        }
      }
      > div {
        display: block;
        position: relative;
        &::after {
          content: '';
          height: 100%;
          border-right: 3px solid $cr-border;
          position: absolute;
          right: -15px;
          top: 0;
        }
      }
    }
  }

  .footer {
    .ft-top {
      .menu {
        ul {
          min-height: 175px;
          &::after {
            content: '';
            height: 90%;
            border-right: 1px solid $cr-border;
            position: absolute;
            right: 10%;
            top: 5%;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 991px) {
  .page-basket {
    .head {
      .right {
        span {
          font-size: 1em;
        }
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  .product-category {
    .grid-view {
      padding: 0 10px 0 0;
      .item {
        padding: 0 5px 10px;
      }
    }
    .list-view {
      padding-left: 0;
      .item {
        .info {
          > div {
            border-left: 1px solid $cr-border;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  .header {
    .hd-menu {
      .main-menu,
      .categories-menu {
        padding: 0;
        width: 50%;
        float: left;
      }
      .categories-menu {
        height: 60px;
        button {
          background-color: darken($cr-red, 5%);
        }
        ul {
          width: 200%;
          background-color: darken($cr-red, 5%);
          padding: 0;
          li {
            a {
              padding: 15px;
              color: #ffffff;
              &:hover {
                color: #ffffff;
                background-color: $cr-red;
              }
            }
          }
        }
      }
      .main-menu {
        .navbar-collapse {
          right: 0;
          border-top: none;
          box-shadow: none;
          position: absolute;
          width: 200%;
          background-color: lighten($cr-red, 4%);
        }
        .nav {
          margin: 0;
          li {
            a {
              padding: 10px 15px;
            }
          }
        }
      }
    }
    .hd-center {
      position: relative;
      display: block;
      .basket {
        position: absolute;
        top: 30px;
        right: 0;
      }
      .logo {
        //text-align: center;
        margin-bottom: 10px;
      }
    }
  }
  .recommend {
    .carousel {
      .title {
        font-size: 1em;
        padding-bottom: 9px;
        span {
          padding: 0 0 7px 30px;
          &::before {
            border-bottom: 30px solid $cr-red;
            border-right: 30px solid transparent;
          }
        }
      }
    }
  }
  .product-category {
    .head {
      .title {
        font-size: 1.6em;
      }
    }
    .grid-view {
      .item {
        margin-bottom: 10px;
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .page-basket {
    .head {
      .right {
        display: grid;
        span {
          margin-right: 0;
          &::after {
            border-right: none;
          }
        }
      }
    }
  }

  .product-category {
    .head {
      padding: 10px;
      .title {
        font-size: 1.2em;
      }
    }
  }
}

@media only screen and (max-width: 400px) {
  .header {
    .hd-menu {
      .main-menu,
      .categories-menu {
        width: 100%;
        float: none;
      }
      .categories-menu {
        ul {
          width: 100%;
        }
      }
      .main-menu {
        .navbar-collapse {
          width: 100%;
        }
      }
    }
  }
}
