@font-face {
  font-family: "ProximaNovaRegular";
  src: url("../fonts/ProximaNova/PROXIMA-NOVA-REGULAR.otf") format("opentype"); }
@font-face {
  font-family: "ProximaNovaBold";
  font-weight: bold;
  src: url("../fonts/ProximaNova/PROXIMA-NOVA-BOLD.otf") format("opentype"); }
@font-face {
  font-family: "ProximaNovaSemibold";
  font-weight: bold;
  src: url("../fonts/ProximaNova/PROXIMA-NOVA-SEMIBOLD.otf") format("opentype"); }
html {
  min-height: 100%; }
  html body {
    background: #f7f7f5;
    font-family: ProximaNovaRegular, serif; }
    html body.line {
      background: repeating-linear-gradient(-45deg, #ffffff, #ffffff 20%, #f8f8f8 0, #f8f8f8 50%); }

h1, h2, h3, h4, h5, h6 {
  font-family: ProximaNovaBold, serif; }

b, strong {
  font-family: ProximaNovaSemibold, serif; }

.price {
  margin: 0;
  color: #289e3f;
  font-size: 1.2em;
  font-family: ProximaNovaSemibold, serif; }

.old-price {
  margin: 0;
  font-size: 1em;
  color: #242a2a;
  text-decoration: line-through;
  font-family: ProximaNovaSemibold, serif; }

.add-to-cart {
  font-size: 1.2em;
  padding: 10px 50px;
  background-color: #ce3232;
  color: #ffffff !important;
  outline: none !important;
  font-family: ProximaNovaSemibold, serif; }
  .add-to-cart:hover {
    background-color: #ba2c2c; }

.btn-default {
  color: #ffffff !important;
  border-color: #ce3232 !important;
  background-color: #ce3232 !important; }
  .btn-default:hover {
    background-color: #ba2c2c !important; }

.btn-success {
  color: #ffffff !important;
  border-color: #289e3f !important;
  background-color: #289e3f !important; }
  .btn-success:hover {
    background-color: #238a37 !important; }

.overlay {
  position: fixed;
  z-index: 10001;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  display: none; }
  .overlay .spinner {
    height: 30px;
    width: 30px;
    animation: rotate .8s infinite linear;
    border: 3px solid #ce3232;
    border-right-color: transparent;
    border-radius: 50%;
    left: 50%;
    top: 50%;
    position: absolute; }
@keyframes rotate {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
.pagination > li > a, .pagination > li > span, .pagination > li > a:hover, .pagination > li > span:hover, .pagination > li > a:focus, .pagination > li > span:focus {
  color: #ce3232; }
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
  border-color: #ce3232;
  background-color: #ce3232; }

.checkbox input[type='checkbox'] {
  top: 4px;
  width: 18px;
  height: 18px;
  border: none;
  color: #ffffff;
  cursor: pointer;
  position: relative;
  background: #cbcbcb;
  outline: none !important;
  -webkit-appearance: none;
  -moz-appearance: none; }
  .checkbox input[type='checkbox']:hover {
    background: #999999; }
  .checkbox input[type='checkbox']:checked {
    background: #ce3232; }
    .checkbox input[type='checkbox']:checked::before {
      content: '\2714';
      width: 18px;
      height: 18px;
      font-size: 16px;
      line-height: 18px;
      text-align: center;
      position: absolute;
      display: inline-block; }

.radio input[type='radio'] {
  top: 4px;
  width: 18px;
  height: 18px;
  border: none;
  color: #ffffff;
  cursor: pointer;
  position: relative;
  background: #cbcbcb;
  outline: none !important;
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 50%; }
  .radio input[type='radio']:hover {
    background: #999999; }
  .radio input[type='radio']:checked {
    background: #ce3232; }
    .radio input[type='radio']:checked::before {
      content: '\25CF';
      width: 18px;
      height: 18px;
      font-size: 13px;
      line-height: 18px;
      text-align: center;
      position: absolute;
      display: inline-block; }

.breadcrumb {
  padding: 15px 0;
  margin-bottom: 0;
  background: transparent; }
  .breadcrumb li {
    text-transform: uppercase; }

div.required > label:after {
  content: " *";
  color: #ce3232;
  font-weight: normal;
  font-size: 1.2em; }
div.required .checkbox > label:after {
  content: " *";
  color: #ce3232;
  font-weight: normal;
  font-size: 1.2em; }

.header .hd-bar {
  background-color: #333333;
  border: 1px solid #707070; }
  .header .hd-bar .contact {
    margin: 0; }
    .header .hd-bar .contact li {
      color: #ffffff; }
      .header .hd-bar .contact li:first-child {
        height: 56px;
        padding-left: 0;
        display: inline-table;
        vertical-align: middle; }
      .header .hd-bar .contact li .fa-phone {
        color: #ce3232;
        font-size: 1.6em;
        display: table-cell;
        vertical-align: middle; }
  .header .hd-bar .customer .dropdown-toggle {
    padding: 0;
    outline: none;
    color: #ffffff;
    text-decoration: none;
    display: table;
    height: 56px;
    border: none; }
    .header .hd-bar .customer .dropdown-toggle .fa-user {
      font-size: 1.6em;
      color: #ce3232;
      padding-right: 10px;
      display: table-cell;
      vertical-align: middle; }
    .header .hd-bar .customer .dropdown-toggle span {
      display: table-cell;
      vertical-align: middle; }
  .header .hd-bar .customer .dropdown-menu {
    margin: 0; }
    .header .hd-bar .customer .dropdown-menu li a {
      text-align: right;
      color: #242a2a; }
    .header .hd-bar .customer .dropdown-menu li .logout {
      width: 100%;
      outline: none;
      padding: 3px 20px;
      text-align: right;
      color: #242a2a;
      text-decoration: none; }
      .header .hd-bar .customer .dropdown-menu li .logout:hover {
        background-color: #f5f5f5; }
  .header .hd-bar .guest-customer {
    margin: 0; }
    .header .hd-bar .guest-customer li {
      padding: 0;
      color: #ffffff; }
      .header .hd-bar .guest-customer li a {
        padding: 18px 10px;
        color: #ffffff;
        text-decoration: none;
        display: block; }
        .header .hd-bar .guest-customer li a:hover {
          background-color: #000000; }
.header .hd-center {
  padding: 20px 0;
  background-color: #ffffff; }
  .header .hd-center .logo img {
    max-width: 100%; }
  .header .hd-center .search .search-form .input-group {
    width: 100%;
    padding-top: 6px; }
    .header .hd-center .search .search-form .input-group input {
      height: 40px;
      border: 4px solid #e4e4e4;
      border-top-right-radius: 0 !important;
      border-bottom-right-radius: 0 !important;
      border-right: none;
      z-index: 2; }
      .header .hd-center .search .search-form .input-group input:focus {
        -webkit-box-shadow: 0 0 6px rgba(206, 50, 50, 0.2);
        -moz-box-shadow: 0 0 6px rgba(206, 50, 50, 0.2);
        box-shadow: 0 0 6px rgba(206, 50, 50, 0.2); }
    .header .hd-center .search .search-form .input-group button {
      outline: none;
      padding: 6px 15px;
      border: 4px solid #ce3232; }
      .header .hd-center .search .search-form .input-group button:hover {
        border-color: #ba2c2c !important; }
  .header .hd-center .basket a.icon {
    display: inline-flex;
    text-decoration: none; }
    .header .hd-center .basket a.icon img {
      margin-right: 10px; }
    .header .hd-center .basket a.icon > span {
      display: block;
      line-height: 1;
      padding-top: 5px;
      font-size: 1.4em;
      color: #242a2a; }
      .header .hd-center .basket a.icon > span span {
        color: #a4a4a4;
        font-size: .65em; }
  .header .hd-center .basket .basket-items {
    display: inline-block; }
    .header .hd-center .basket .basket-items ul {
      display: none;
      z-index: 10001;
      background: #ffffff;
      position: absolute;
      top: 46px;
      right: 0;
      width: 100%;
      -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
      -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2); }
      .header .hd-center .basket .basket-items ul li {
        display: block;
        padding: 0 5px;
        text-align: center;
        position: relative;
        border-bottom: 1px dotted #e4e4e4; }
        .header .hd-center .basket .basket-items ul li:last-child {
          border-bottom: none; }
        .header .hd-center .basket .basket-items ul li a.item {
          display: table;
          text-align: left;
          color: #242a2a;
          text-decoration: none; }
          .header .hd-center .basket .basket-items ul li a.item strong {
            display: table-cell;
            vertical-align: middle; }
          .header .hd-center .basket .basket-items ul li a.item span {
            display: table-cell;
            vertical-align: middle;
            font-size: .9em; }
          .header .hd-center .basket .basket-items ul li a.item img {
            width: 75px; }
          .header .hd-center .basket .basket-items ul li a.item:hover span {
            color: #ce3232; }
        .header .hd-center .basket .basket-items ul li a.item-remove {
          position: absolute;
          top: 0;
          right: 0;
          padding: 2px 5px;
          font-size: .8em;
          color: #ffffff;
          background-color: #ce3232; }
          .header .hd-center .basket .basket-items ul li a.item-remove:hover {
            background-color: #ba2c2c; }
        .header .hd-center .basket .basket-items ul li .total-price {
          padding: 8px 0;
          display: block;
          margin-bottom: 0; }
          .header .hd-center .basket .basket-items ul li .total-price a {
            width: 100%;
            padding: 8px;
            display: block;
            color: #ffffff;
            margin-top: 8px;
            font-size: 1.2em;
            text-decoration: none;
            background-color: #289e3f; }
            .header .hd-center .basket .basket-items ul li .total-price a:hover {
              background-color: #238a37; }
.header .hd-menu {
  background-color: #d24242; }
  .header .hd-menu .categories-menu {
    height: 92px;
    z-index: 101; }
    .header .hd-menu .categories-menu button {
      width: 100%;
      height: 100%;
      border: none;
      outline: none;
      color: #ffffff;
      padding: 0 20px;
      font-weight: 600;
      text-align: left;
      font-size: 1.2em;
      background-color: #ce3232;
      font-family: ProximaNovaSemibold, serif; }
      .header .hd-menu .categories-menu button:hover, .header .hd-menu .categories-menu button.active {
        background-color: #ba2c2c; }
      .header .hd-menu .categories-menu button .fa-bars {
        font-size: 1.4em; }
    .header .hd-menu .categories-menu ul {
      display: none;
      margin: 0;
      padding: 0 10px;
      background-color: #ffffff;
      -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
      -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2); }
      .header .hd-menu .categories-menu ul li {
        border-bottom: 1px solid #e4e4e4; }
        .header .hd-menu .categories-menu ul li:last-child {
          border-bottom: none; }
        .header .hd-menu .categories-menu ul li a {
          display: block;
          padding: 15px 0;
          text-decoration: none;
          color: #242a2a; }
          .header .hd-menu .categories-menu ul li a:hover {
            color: #ce3232; }
  .header .hd-menu .main-menu {
    z-index: 11; }
    .header .hd-menu .main-menu .navbar-toggle {
      width: 100%;
      height: 60px;
      border: none;
      outline: none;
      color: #ffffff;
      padding: 0 20px;
      font-weight: 600;
      text-align: left;
      font-size: 1.2em;
      margin: 0;
      font-family: ProximaNovaSemibold, serif; }
      .header .hd-menu .main-menu .navbar-toggle .fa-bars {
        font-size: 1.4em; }
    .header .hd-menu .main-menu .navbar-collapse {
      padding: 0; }
    .header .hd-menu .main-menu .nav li a {
      color: #ffffff;
      font-size: 1.2em;
      padding: 35px 15px;
      background-color: transparent !important; }
      .header .hd-menu .main-menu .nav li a:hover {
        background-color: #ce3232 !important; }
      .header .hd-menu .main-menu .nav li a img {
        margin-right: 10px; }

.banner .slide {
  outline: none; }
  .banner .slide img {
    width: 100%;
    outline: none; }
  .banner .slide a {
    outline: none; }

.about {
  padding: 50px 0; }
  .about .title {
    font-size: 2em;
    margin: 0 0 50px;
    text-align: center;
    color: #242a2a; }
    .about .title small {
      color: #242a2a;
      font-family: ProximaNovaSemibold, serif; }
  .about p {
    text-align: justify;
    margin-bottom: 15px;
    color: #8e8e8e; }

.service {
  padding: 50px 0;
  position: relative;
  background-color: #ce3232; }
  .service::before {
    content: '';
    width: 0;
    height: 0;
    border-bottom: 110px solid #ce3232;
    border-right: 110px solid transparent;
    position: absolute;
    bottom: 100%;
    left: 0; }
  .service::after {
    content: '';
    width: 0;
    height: 0;
    border-top: 110px solid #ce3232;
    border-left: 110px solid transparent;
    position: absolute;
    top: 100%;
    right: 0; }
  .service .title {
    font-size: 2em;
    margin: 0 0 50px;
    color: #ffffff;
    text-align: center; }
  .service .icon {
    display: block;
    text-align: center; }
    .service .icon > div {
      padding: 20px;
      margin-bottom: 20px;
      border-radius: 40px;
      display: inline-block;
      background-color: #ffffff; }
  .service p {
    margin: 0;
    color: #ffffff;
    text-align: center; }
    .service p strong {
      display: block;
      font-size: 1.2em; }

.recommend .top {
  padding: 50px 0; }
  .recommend .top .title {
    font-size: 2em;
    margin: 0 0 50px;
    text-align: center;
    color: #242a2a; }
    .recommend .top .title small {
      color: #242a2a;
      font-family: ProximaNovaSemibold, serif; }
  .recommend .top .item img {
    margin: 0 auto 50px;
    display: block;
    max-width: 100%; }
  .recommend .top .item > div {
    padding-left: 50px; }
    .recommend .top .item > div p {
      text-align: left;
      text-transform: uppercase;
      color: #8e8e8e;
      font-size: 1.2em; }
      .recommend .top .item > div p strong {
        color: #ce3232;
        font-size: 1.4em; }
    .recommend .top .item > div a {
      padding: 10px 15px;
      color: #ce3232;
      border-radius: 4px;
      display: inline-block;
      text-decoration: none;
      border: 1px solid #ce3232; }
      .recommend .top .item > div a:hover {
        color: #ffffff;
        background-color: #ce3232; }
      .recommend .top .item > div a .fa {
        margin-left: 10px;
        font-weight: 600; }
.recommend .carousel {
  overflow: hidden; }
  .recommend .carousel .title {
    font-size: 1.6em;
    margin: 20px 0;
    padding-bottom: 10px;
    border-bottom: 1px solid #e4e4e4; }
    .recommend .carousel .title span {
      padding: 0 0 7px 40px;
      border-bottom: 3px solid #ce3232;
      position: relative; }
      .recommend .carousel .title span::before {
        content: '';
        width: 0;
        height: 0;
        border-bottom: 40px solid #ce3232;
        border-right: 40px solid transparent;
        position: absolute;
        bottom: 0;
        left: 0; }
  .recommend .carousel .body {
    margin: 0 -10px 45px -10px; }
    .recommend .carousel .body .item {
      outline: none;
      display: block;
      margin: 5px 10px;
      text-align: center;
      background-color: #ffffff;
      border: 1px solid #ffffff;
      -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
      -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2); }
      .recommend .carousel .body .item:hover {
        border-color: #ce3232; }
      .recommend .carousel .body .item a {
        outline: none;
        display: block;
        font-size: 1.1em;
        margin-bottom: 15px;
        text-decoration: none;
        color: #242a2a;
        font-family: ProximaNovaSemibold, serif; }
        .recommend .carousel .body .item a span {
          display: block;
          padding: 0 15px;
          min-height: 44px; }
        .recommend .carousel .body .item a:hover {
          opacity: .75; }
        .recommend .carousel .body .item a img {
          width: 100%;
          border-bottom: 1px solid #e4e4e4; }
      .recommend .carousel .body .item .old-price {
        font-size: .9em;
        min-height: 20px; }
      .recommend .carousel .body .item .price {
        margin-bottom: 20px; }
      .recommend .carousel .body .item .add-to-cart,
      .recommend .carousel .body .item .product-not-available {
        margin-bottom: 20px;
        width: 80%; }
    .recommend .carousel .body .slick-arrow {
      cursor: pointer;
      padding: 15px 17px;
      border-radius: 30px;
      color: #dddddd;
      background-color: #ffffff;
      position: absolute;
      top: 45%;
      z-index: 1;
      -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
      -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
      box-shadow: 0 0 3px rgba(0, 0, 0, 0.3); }
      .recommend .carousel .body .slick-arrow:hover {
        color: #ce3232; }

.footer-text {
  padding: 30px 0;
  color: #242a2a;
  background-color: #ffffff; }

.footer {
  background-color: #333333; }
  .footer .ft-top {
    padding: 30px 0; }
    .footer .ft-top .menu ul li {
      color: #ffffff; }
      .footer .ft-top .menu ul li strong {
        display: block;
        font-size: 1.2em;
        margin-bottom: 20px; }
      .footer .ft-top .menu ul li a {
        display: block;
        color: #ffffff;
        padding: 5px 0;
        text-decoration: none; }
        .footer .ft-top .menu ul li a:hover {
          color: #ce3232; }
    .footer .ft-top .contact p {
      margin: 0;
      color: #ffffff;
      line-height: 2.8em; }
      .footer .ft-top .contact p strong {
        font-size: 1.2em; }
      .footer .ft-top .contact p .fa {
        color: #ce3232;
        font-size: 1.6em;
        margin-right: 15px; }
  .footer .ft-bottom {
    padding: 30px 0;
    background-color: #222222; }
    .footer .ft-bottom p {
      margin: 0;
      color: #696969;
      font-weight: 600; }

.product-not-available {
  font-size: 1.2em;
  padding: 10px 50px;
  background-color: #ce3232;
  color: #ffffff !important;
  outline: none !important;
  font-family: ProximaNovaSemibold, serif;
  cursor: not-allowed;
  opacity: .65; }

.product-detail .info {
  padding: 15px 0;
  margin-bottom: 30px;
  background-color: #ffffff;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2); }
  .product-detail .info .title {
    margin: 0 0 15px;
    font-size: 1.6em; }
  .product-detail .info .brand img {
    width: 150px; }
  .product-detail .info p {
    overflow: hidden;
    margin-bottom: 10px; }
    .product-detail .info p strong {
      color: #8e8e8e; }
  .product-detail .info .cart {
    padding: 10px;
    border: 2px solid #e4e4e4; }
    .product-detail .info .cart .add-to-cart,
    .product-detail .info .cart .product-not-available {
      width: 100%; }
  .product-detail .info .nav-tabs {
    margin: 20px 0;
    border-bottom: 1px solid #ce3232; }
    .product-detail .info .nav-tabs > li a {
      color: #ffffff;
      border-radius: 0;
      border-color: #ce3232;
      background-color: #ce3232;
      font-family: ProximaNovaSemibold, serif; }
      .product-detail .info .nav-tabs > li a:hover, .product-detail .info .nav-tabs > li a:focus {
        color: #242a2a;
        background-color: #ffffff;
        border: 1px solid #ce3232;
        border-bottom-color: transparent; }
      .product-detail .info .nav-tabs > li a .fa {
        margin-right: 10px; }
    .product-detail .info .nav-tabs > li.active > a {
      color: #242a2a;
      background-color: #ffffff;
      border: 1px solid #ce3232;
      border-bottom-color: transparent; }
.product-detail .similar {
  margin-bottom: 50px;
  background-color: #ffffff;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2); }
  .product-detail .similar .carousel {
    overflow: hidden; }
    .product-detail .similar .carousel .title {
      font-size: 1.6em;
      margin: 15px 0;
      padding-bottom: 12px;
      border-bottom: 1px solid #e4e4e4; }
      .product-detail .similar .carousel .title span {
        padding: 0 0 9px 15px;
        border-bottom: 3px solid #ce3232;
        position: relative; }
    .product-detail .similar .carousel .body {
      padding: 0 10px 15px; }
      .product-detail .similar .carousel .body .carousel-item {
        outline: none;
        display: block;
        margin: 0 5px;
        text-align: center;
        border: 1px solid #e4e4e4; }
        .product-detail .similar .carousel .body .carousel-item:hover {
          border-color: #ce3232; }
        .product-detail .similar .carousel .body .carousel-item a {
          outline: none;
          display: block;
          font-size: 1.1em;
          margin-bottom: 15px;
          text-decoration: none;
          color: #242a2a;
          font-family: ProximaNovaSemibold, serif; }
          .product-detail .similar .carousel .body .carousel-item a span {
            padding: 0 15px;
            display: block; }
          .product-detail .similar .carousel .body .carousel-item a:hover {
            opacity: .75; }
          .product-detail .similar .carousel .body .carousel-item a img {
            width: 100%;
            border-bottom: 1px solid #e4e4e4; }
        .product-detail .similar .carousel .body .carousel-item .old-price {
          font-size: .9em;
          min-height: 20px; }
        .product-detail .similar .carousel .body .carousel-item .price {
          margin-bottom: 10px; }
        .product-detail .similar .carousel .body .carousel-item .add-to-cart,
        .product-detail .similar .carousel .body .carousel-item .product-not-available {
          margin-bottom: 20px;
          width: 80%; }
      .product-detail .similar .carousel .body .slick-arrow {
        cursor: pointer;
        padding: 15px 17px;
        border-radius: 30px;
        color: #dddddd;
        background-color: #ffffff;
        position: absolute;
        top: 45%;
        z-index: 1;
        -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
        -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.3); }
        .product-detail .similar .carousel .body .slick-arrow:hover {
          color: #ce3232; }

.product-category {
  min-height: 500px;
  margin-bottom: 50px; }
  .product-category .head {
    padding: 20px;
    margin-bottom: 20px;
    background-color: #ffffff;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2); }
    .product-category .head .title {
      margin: 0;
      font-size: 2em; }
    .product-category .head .view-mode span {
      border-right: 1px solid #cecece; }
    .product-category .head .view-mode button {
      color: #cecece;
      text-decoration: none;
      outline: none !important; }
      .product-category .head .view-mode button:hover, .product-category .head .view-mode button.active {
        color: #ce3232; }
    .product-category .head .products-sort .btn-link {
      outline: none;
      font-weight: 600;
      color: #242a2a;
      text-decoration: none;
      font-family: ProximaNovaSemibold, serif; }
    .product-category .head .products-sort a.asc:after, .product-category .head .products-sort a.desc:after {
      top: 1px;
      line-height: 1;
      padding-left: 5px;
      position: relative;
      font-style: normal;
      font-weight: normal;
      display: inline-block;
      font-family: 'Glyphicons Halflings', sans-serif; }
    .product-category .head .products-sort a.asc::after {
      content: "\e151"; }
    .product-category .head .products-sort a.asc.sort-ordinal::after {
      content: "\e155"; }
    .product-category .head .products-sort a.desc::after {
      content: "\e152"; }
    .product-category .head .products-sort a.desc.sort-ordinal::after {
      content: "\e156"; }
  .product-category .filter > div {
    padding: 10px;
    margin-bottom: 20px;
    background-color: #ffffff;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2); }
  .product-category .filter .price-range {
    display: block;
    padding: 0 10px; }
    .product-category .filter .price-range > strong {
      width: 100%;
      display: block;
      text-align: center; }
    .product-category .filter .price-range .slider {
      width: 100%; }
      .product-category .filter .price-range .slider .slider-selection {
        background: #ce3232; }
      .product-category .filter .price-range .slider .slider-handle {
        background: #ffffff;
        border: 3px solid #ce3232; }
  .product-category .grid-view .item {
    padding: 0; }
    .product-category .grid-view .item > div {
      display: block;
      text-align: center;
      background-color: #ffffff;
      border: 1px solid #ffffff;
      -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
      -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2); }
      .product-category .grid-view .item > div:hover {
        border-color: #ce3232; }
      .product-category .grid-view .item > div a {
        outline: none;
        display: block;
        text-decoration: none;
        color: #242a2a;
        font-family: ProximaNovaSemibold, serif; }
        .product-category .grid-view .item > div a span {
          padding: 0 10px;
          display: block;
          height: 55px;
          overflow: hidden; }
        .product-category .grid-view .item > div a:hover {
          opacity: .75; }
        .product-category .grid-view .item > div a img {
          width: 100%;
          border-bottom: 1px solid #e4e4e4; }
      .product-category .grid-view .item > div .old-price {
        font-size: .9em;
        min-height: 20px; }
      .product-category .grid-view .item > div .price {
        margin-bottom: 10px; }
      .product-category .grid-view .item > div .summary {
        height: 60px;
        overflow: hidden;
        margin: 0 0 5px; }
      .product-category .grid-view .item > div .add-to-cart,
      .product-category .grid-view .item > div .product-not-available {
        margin-bottom: 10px;
        width: 80%; }
  .product-category .list-view .item {
    margin-bottom: 10px;
    background-color: #ffffff;
    border: 1px solid #ffffff;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2); }
    .product-category .list-view .item:hover {
      border-color: #ce3232; }
    .product-category .list-view .item .info > div {
      padding: 10px 0 10px 15px; }
      .product-category .list-view .item .info > div .summary {
        overflow: hidden; }
      .product-category .list-view .item .info > div .summary,
      .product-category .list-view .item .info > div .price,
      .product-category .list-view .item .info > div .add-to-cart,
      .product-category .list-view .item .info > div .product-not-available {
        margin-top: 5px; }
    .product-category .list-view .item a {
      font-size: 1.1em;
      text-decoration: none;
      color: #242a2a;
      font-family: ProximaNovaSemibold, serif; }
      .product-category .list-view .item a img {
        width: 100%; }
      .product-category .list-view .item a:hover {
        color: #ce3232; }
        .product-category .list-view .item a:hover img {
          opacity: .75; }

.product-search .search-form {
  margin: 15px 0; }
  .product-search .search-form .input-group input {
    border: 4px solid #e4e4e4;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    border-right: none;
    padding: 20px 10px;
    z-index: 2; }
    .product-search .search-form .input-group input:focus {
      -webkit-box-shadow: 0 0 6px rgba(206, 50, 50, 0.2);
      -moz-box-shadow: 0 0 6px rgba(206, 50, 50, 0.2);
      box-shadow: 0 0 6px rgba(206, 50, 50, 0.2); }
  .product-search .search-form .input-group button {
    outline: none;
    padding: 10px 20px;
    border: 4px solid #ce3232; }
    .product-search .search-form .input-group button:hover {
      border-color: #ba2c2c !important; }
.product-search .products .list-group-item .image a {
  display: block; }
  .product-search .products .list-group-item .image a:hover img {
    opacity: .75; }
  .product-search .products .list-group-item .image a img {
    width: 100%; }
.product-search .products .list-group-item .info a {
  font-weight: 600;
  text-decoration: none;
  color: #242a2a;
  text-transform: uppercase;
  font-family: ProximaNovaSemibold, serif; }
  .product-search .products .list-group-item .info a:hover,
  .product-search .products .list-group-item .info a span {
    color: #ce3232; }
.product-search .products .list-group-item .info > p {
  margin-bottom: 10px; }

.page-basket .head {
  padding: 20px;
  margin-bottom: 20px;
  background-color: #ffffff;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2); }
  .page-basket .head .title {
    margin: 0;
    font-size: 2.4em;
    padding-top: 10px; }
    .page-basket .head .title img {
      margin-top: -10px;
      margin-right: 10px; }
  .page-basket .head .right {
    padding-top: 10px;
    text-align: right; }
    .page-basket .head .right span {
      padding: 6px 0;
      color: #289e3f;
      font-size: 1.2em;
      margin-right: 40px;
      font-family: ProximaNovaSemibold, serif;
      position: relative;
      display: inline-block; }
      .page-basket .head .right span strong {
        color: #242a2a; }
      .page-basket .head .right span::after {
        content: '';
        border-right: 1px solid #e4e4e4;
        height: 38px;
        position: absolute;
        right: -20px;
        top: 0; }
.page-basket .body {
  padding: 20px;
  margin-bottom: 50px;
  background-color: #ffffff;
  min-height: 250px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2); }
  .page-basket .body table thead {
    color: #8e8e8e;
    font-family: ProximaNovaSemibold, serif; }
  .page-basket .body table tbody {
    color: #242a2a; }
    .page-basket .body table tbody tr td a {
      display: table;
      text-decoration: none;
      color: #242a2a; }
      .page-basket .body table tbody tr td a:hover {
        color: #ce3232; }
        .page-basket .body table tbody tr td a:hover img {
          opacity: .75; }
      .page-basket .body table tbody tr td a span {
        display: table-cell;
        vertical-align: middle; }
      .page-basket .body table tbody tr td a img {
        width: 120px;
        float: left; }
    .page-basket .body table tbody tr td > span {
      display: block;
      margin-top: 50px; }
    .page-basket .body table tbody tr td > .bootstrap-touchspin {
      margin-top: 45px; }
      .page-basket .body table tbody tr td > .bootstrap-touchspin input {
        min-width: 50px;
        text-align: center; }
    .page-basket .body table tbody tr td .item-remove {
      color: #ce3232;
      margin-top: 47px;
      font-size: 1.2em; }
      .page-basket .body table tbody tr td .item-remove:hover {
        color: #ba2c2c; }

.page-checkout {
  margin-bottom: 50px; }
  .page-checkout .title {
    padding: 20px;
    margin: 0 0 20px;
    background-color: #ffffff;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2); }
  .page-checkout .sw-main .step-anchor {
    background-color: #ffffff; }
    .page-checkout .sw-main .step-anchor li a {
      text-align: center; }
      .page-checkout .sw-main .step-anchor li a .fa {
        font-size: 2.4em;
        margin-bottom: 10px; }
    .page-checkout .sw-main .step-anchor li.active a {
      color: #ce3232 !important; }
      .page-checkout .sw-main .step-anchor li.active a::after {
        background: #ce3232; }
    .page-checkout .sw-main .step-anchor li.done a {
      color: #289e3f !important; }
      .page-checkout .sw-main .step-anchor li.done a::after {
        background: #289e3f; }
  .page-checkout .sw-main .sw-toolbar {
    background-color: #ffffff; }

.page-customer-order .text-bold {
  font-weight: 600;
  font-family: ProximaNovaBold, serif; }
.page-customer-order .text-blue {
  color: #0073b7; }
.page-customer-order .text-red {
  color: #dd4b39; }
.page-customer-order .text-yellow {
  color: #f39c12; }
.page-customer-order .text-aqua {
  color: #00c0ef; }
.page-customer-order .text-green {
  color: #00a65a; }
.page-customer-order .text-light-blue {
  color: #3c8dbc; }
.page-customer-order .text-muted {
  color: #777777; }

.post-view .head .title {
  padding: 25px 15px;
  margin: 0 0 20px;
  text-transform: uppercase;
  background-color: #ffffff;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2); }
.post-view .products h4 {
  font-size: 1.6em;
  margin: 0 -15px 20px;
  padding-bottom: 12px;
  border-bottom: 1px solid #e4e4e4; }
  .post-view .products h4 span {
    padding: 0 0 9px 15px;
    position: relative;
    border-bottom: 3px solid #ce3232; }
.post-view .products .item {
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #e4e4e4; }
  .post-view .products .item:last-child {
    border-bottom: none; }
  .post-view .products .item .info a {
    display: block;
    margin: 10px 0;
    font-size: 1.2em;
    text-decoration: none;
    color: #242a2a;
    font-family: ProximaNovaSemibold, serif; }
    .post-view .products .item .info a:hover {
      color: #ce3232; }
  .post-view .products .item .image .thumbnail {
    margin-bottom: 0; }
    .post-view .products .item .image .thumbnail:hover {
      border-color: #ce3232; }

.post-category .head .title {
  padding: 25px 15px;
  margin: 0 0 20px;
  text-transform: uppercase;
  background-color: #ffffff;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2); }
.post-category .item .separator {
  margin-bottom: 20px;
  border-top: 1px solid #e4e4e4; }
.post-category .item:first-child .separator {
  border-top: none; }
.post-category .item .title {
  border-bottom: 1px dotted #e4e4e4; }
  .post-category .item .title a {
    display: block;
    padding-bottom: 10px;
    text-decoration: none;
    color: #242a2a; }
    .post-category .item .title a:hover {
      color: #ce3232; }
.post-category .item .thumbnail:hover {
  border-color: #ce3232; }
.post-category .item .date {
  color: #8e8e8e;
  font-size: .9em; }

.page-view .title {
  margin: 10px 0 20px; }

.container .content {
  padding: 15px;
  min-height: 350px;
  margin-bottom: 30px;
  background-color: #ffffff;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2); }

@media only screen and (min-width: 1400px) {
  .recommend .carousel .body .slick-arrow.fa-chevron-left {
    left: -75px; }
  .recommend .carousel .body .slick-arrow.fa-chevron-right {
    right: -75px; } }
@media only screen and (max-width: 1399px) {
  .recommend .carousel .body .slick-arrow.fa-chevron-left {
    left: -40px; }
  .recommend .carousel .body .slick-arrow.fa-chevron-right {
    right: -40px; } }
@media only screen and (max-width: 1199px) {
  .recommend .carousel .body .slick-arrow.fa-chevron-left {
    left: 0; }
  .recommend .carousel .body .slick-arrow.fa-chevron-right {
    right: 0; } }
@media only screen and (min-width: 992px) {
  .header .hd-center .basket .basket-items:hover ul {
    display: block; }

  .recommend .item:last-child > div::after {
    border-right: none; }
  .recommend .item > div {
    display: block;
    position: relative; }
    .recommend .item > div::after {
      content: '';
      height: 100%;
      border-right: 3px solid #e4e4e4;
      position: absolute;
      right: -15px;
      top: 0; }

  .footer .ft-top .menu ul {
    min-height: 175px; }
    .footer .ft-top .menu ul::after {
      content: '';
      height: 90%;
      border-right: 1px solid #e4e4e4;
      position: absolute;
      right: 10%;
      top: 5%; } }
@media only screen and (max-width: 991px) {
  .page-basket .head .right span {
    font-size: 1em; } }
@media only screen and (min-width: 768px) {
  .product-category .grid-view {
    padding: 0 10px 0 0; }
    .product-category .grid-view .item {
      padding: 0 5px 10px; }
  .product-category .list-view {
    padding-left: 0; }
    .product-category .list-view .item .info > div {
      border-left: 1px solid #e4e4e4; } }
@media only screen and (max-width: 767px) {
  .header .hd-menu .main-menu,
  .header .hd-menu .categories-menu {
    padding: 0;
    width: 50%;
    float: left; }
  .header .hd-menu .categories-menu {
    height: 60px; }
    .header .hd-menu .categories-menu button {
      background-color: #ba2c2c; }
    .header .hd-menu .categories-menu ul {
      width: 200%;
      background-color: #ba2c2c;
      padding: 0; }
      .header .hd-menu .categories-menu ul li a {
        padding: 15px;
        color: #ffffff; }
        .header .hd-menu .categories-menu ul li a:hover {
          color: #ffffff;
          background-color: #ce3232; }
  .header .hd-menu .main-menu .navbar-collapse {
    right: 0;
    border-top: none;
    box-shadow: none;
    position: absolute;
    width: 200%;
    background-color: #d24242; }
  .header .hd-menu .main-menu .nav {
    margin: 0; }
    .header .hd-menu .main-menu .nav li a {
      padding: 10px 15px; }
  .header .hd-center {
    position: relative;
    display: block; }
    .header .hd-center .basket {
      position: absolute;
      top: 30px;
      right: 0; }
    .header .hd-center .logo {
      margin-bottom: 10px; }

  .recommend .carousel .title {
    font-size: 1em;
    padding-bottom: 9px; }
    .recommend .carousel .title span {
      padding: 0 0 7px 30px; }
      .recommend .carousel .title span::before {
        border-bottom: 30px solid #ce3232;
        border-right: 30px solid transparent; }

  .product-category .head .title {
    font-size: 1.6em; }
  .product-category .grid-view .item {
    margin-bottom: 10px; } }
@media only screen and (max-width: 600px) {
  .page-basket .head .right {
    display: grid; }
    .page-basket .head .right span {
      margin-right: 0; }
      .page-basket .head .right span::after {
        border-right: none; }

  .product-category .head {
    padding: 10px; }
    .product-category .head .title {
      font-size: 1.2em; } }
@media only screen and (max-width: 400px) {
  .header .hd-menu .main-menu,
  .header .hd-menu .categories-menu {
    width: 100%;
    float: none; }
  .header .hd-menu .categories-menu ul {
    width: 100%; }
  .header .hd-menu .main-menu .navbar-collapse {
    width: 100%; } }

/*# sourceMappingURL=main.css.map */
