@import "variables";
@import "font-fase";
@import "box-shadow";

@include font-face(ProximaNovaRegular, '../fonts/ProximaNova/PROXIMA-NOVA-REGULAR', null, null, otf);
@include font-face(ProximaNovaBold, '../fonts/ProximaNova/PROXIMA-NOVA-BOLD', bold, null, otf);
@include font-face(ProximaNovaSemibold, '../fonts/ProximaNova/PROXIMA-NOVA-SEMIBOLD', bold, null, otf);

html {
  min-height: 100%;
  body {
    background: #f7f7f5;
    font-family: ProximaNovaRegular, serif;
    &.line {
      background: repeating-linear-gradient(-45deg, #ffffff, #ffffff 20%, #f8f8f8 0, #f8f8f8 50%);
    }
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: ProximaNovaBold, serif;
}

b, strong {
  font-family: ProximaNovaSemibold, serif;
}

.price {
  margin: 0;
  color: $cr-green;
  font-size: 1.2em;
  font-family: ProximaNovaSemibold, serif;
}

.old-price {
  margin: 0;
  font-size: 1em;
  color: $cr-black-text;
  text-decoration: line-through;
  font-family: ProximaNovaSemibold, serif;
}

.add-to-cart {
  font-size: 1.2em;
  padding: 10px 50px;
  background-color: $cr-red;
  color: #ffffff !important;
  outline: none !important;
  font-family: ProximaNovaSemibold, serif;
  &:hover {
    background-color: darken($cr-red, 5%);
  }
}

.btn-default {
  color: #ffffff !important;
  border-color: $cr-red !important;
  background-color: $cr-red !important;
  &:hover {
    background-color: darken($cr-red, 5%) !important;
  }
}

.btn-success {
  color: #ffffff !important;
  border-color: $cr-green !important;
  background-color: $cr-green !important;
  &:hover {
    background-color: darken($cr-green, 5%) !important;
  }
}

.overlay {
  position: fixed;
  z-index: 10001;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  display: none;
  .spinner {
    height: 30px;
    width: 30px;
    animation: rotate .8s infinite linear;
    border: 3px solid $cr-red;
    border-right-color: transparent;
    border-radius: 50%;
    left: 50%;
    top: 50%;
    position: absolute;
    @keyframes rotate {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
  }
}

.pagination {
  > li {
    > a, > span, > a:hover, > span:hover, > a:focus, > span:focus {
      color: $cr-red;
    }
  }
  > .active {
    > a, > span, > a:hover, > span:hover, > a:focus, > span:focus {
      border-color: $cr-red;
      background-color: $cr-red;
    }
  }
}

.checkbox {
  input[type='checkbox'] {
    top: 4px;
    width: 18px;
    height: 18px;
    border: none;
    color: #ffffff;
    cursor: pointer;
    position: relative;
    background: #cbcbcb;
    outline: none !important;
    -webkit-appearance: none;
    -moz-appearance: none;
    &:hover {
      background: #999999;
    }
    &:checked {
      background: $cr-red;
      &::before {
        content: '\2714';
        width: 18px;
        height: 18px;
        font-size: 16px;
        line-height: 18px;
        text-align: center;
        position: absolute;
        display: inline-block;
      }
    }
  }
}

.radio {
  input[type='radio'] {
    top: 4px;
    width: 18px;
    height: 18px;
    border: none;
    color: #ffffff;
    cursor: pointer;
    position: relative;
    background: #cbcbcb;
    outline: none !important;
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 50%;
    &:hover {
      background: #999999;
    }
    &:checked {
      background: $cr-red;
      &::before {
        content: '\25CF';
        width: 18px;
        height: 18px;
        font-size: 13px;
        line-height: 18px;
        text-align: center;
        position: absolute;
        display: inline-block;
      }
    }
  }
}

.breadcrumb {
  padding: 15px 0;
  margin-bottom: 0;
  background: transparent;
  li {
    text-transform: uppercase;
  }
}

div.required {
  > label:after {
    content: " *";
    color: $cr-red;
    font-weight: normal;
    font-size: 1.2em;
  }
  .checkbox {
    > label:after {
      content: " *";
      color: $cr-red;
      font-weight: normal;
      font-size: 1.2em;
    }
  }
}

.header {
  .hd-bar {
    background-color: #333333;
    border: 1px solid #707070;
    .contact {
      margin: 0;
      li {
        color: #ffffff;
        &:first-child {
          height: 56px;
          padding-left: 0;
          display: inline-table;
          vertical-align: middle;
        }
        .fa-phone {
          color: $cr-red;
          font-size: 1.6em;
          display: table-cell;
          vertical-align: middle;
        }
      }
    }
    .customer {
      .dropdown-toggle {
        padding: 0;
        outline: none;
        color: #ffffff;
        text-decoration: none;
        display: table;
        height: 56px;
        border: none;
        .fa-user {
          font-size: 1.6em;
          color: $cr-red;
          padding-right: 10px;
          display: table-cell;
          vertical-align: middle;
        }
        span {
          display: table-cell;
          vertical-align: middle;
        }
      }
      .dropdown-menu {
        margin: 0;
        li {
          a {
            text-align: right;
            color: $cr-black-text;
          }
          .logout {
            width: 100%;
            outline: none;
            padding: 3px 20px;
            text-align: right;
            color: $cr-black-text;
            text-decoration: none;
            &:hover {
              background-color: #f5f5f5;
            }
          }
        }
      }
    }
    .guest-customer {
      margin: 0;
      li {
        padding: 0;
        color: #ffffff;
        a {
          padding: 18px 10px;
          color: #ffffff;
          text-decoration: none;
          display: block;
          &:hover {
            background-color: #000000;
          }
        }
      }
    }
  }
  .hd-center {
    padding: 20px 0;
    background-color: #ffffff;
    .logo {
      img {
        max-width: 100%;
      }
    }
    .search {
      .search-form {
        .input-group {
          width: 100%;
          padding-top: 6px;
          input {
            height: 40px;
            border: 4px solid $cr-border;
            border-top-right-radius: 0 !important;
            border-bottom-right-radius: 0 !important;
            border-right: none;
            z-index: 2;
            &:focus {
              @include box-shadow(0, 0, 6px, rgba(206, 50, 50, 0.2));
            }
          }
          button {
            outline: none;
            padding: 6px 15px;
            border: 4px solid $cr-red;
            &:hover {
              border-color: darken($cr-red, 5%) !important;
            }
          }
        }
      }
    }
    .basket {
      a.icon {
        display: inline-flex;
        text-decoration: none;
        img {
          margin-right: 10px;
        }
        > span {
          display: block;
          line-height: 1;
          padding-top: 5px;
          font-size: 1.4em;
          color: $cr-black-text;
          span {
            color: #a4a4a4;
            font-size: .65em;
          }
        }
      }
      .basket-items {
        display: inline-block;
        ul {
          display: none;
          z-index: 10001;
          background: #ffffff;
          position: absolute;
          top: 46px;
          right: 0;
          width: 100%;
          @include box-shadow(0, 1px, 3px, rgba(0, 0, 0, 0.2));
          li {
            display: block;
            padding: 0 5px;
            text-align: center;
            position: relative;
            border-bottom: 1px dotted $cr-border;
            &:last-child {
              border-bottom: none;
            }
            a.item {
              display: table;
              text-align: left;
              color: $cr-black-text;
              text-decoration: none;
              strong {
                display: table-cell;
                vertical-align: middle;
              }
              span {
                display: table-cell;
                vertical-align: middle;
                font-size: .9em;
              }
              img {
                width: 75px;
              }
              &:hover {
                span {
                  color: $cr-red;
                }
              }
            }
            a.item-remove {
              position: absolute;
              top: 0;
              right: 0;
              padding: 2px 5px;
              font-size: .8em;
              color: #ffffff;
              background-color: $cr-red;
              &:hover {
                background-color: darken($cr-red, 5%);
              }
            }
            .total-price {
              padding: 8px 0;
              display: block;
              margin-bottom: 0;
              a {
                width: 100%;
                padding: 8px;
                display: block;
                color: #ffffff;
                margin-top: 8px;
                font-size: 1.2em;
                text-decoration: none;
                background-color: $cr-green;
                &:hover {
                  background-color: darken($cr-green, 5%);
                }
              }
            }
          }
        }
      }
    }
  }
  .hd-menu {
    background-color: lighten($cr-red, 4%);
    .categories-menu {
      height: 92px;
      z-index: 101;
      button {
        width: 100%;
        height: 100%;
        border: none;
        outline: none;
        color: #ffffff;
        padding: 0 20px;
        font-weight: 600;
        text-align: left;
        font-size: 1.2em;
        background-color: $cr-red;
        font-family: ProximaNovaSemibold, serif;
        &:hover, &.active {
          background-color: darken($cr-red, 5%);
        }
        .fa-bars {
          font-size: 1.4em;
        }
      }
      ul {
        display: none;
        margin: 0;
        padding: 0 10px;
        background-color: #ffffff;
        @include box-shadow(0, 1px, 3px, rgba(0, 0, 0, 0.2));
        li {
          border-bottom: 1px solid $cr-border;
          &:last-child {
            border-bottom: none;
          }
          a {
            display: block;
            padding: 15px 0;
            text-decoration: none;
            color: $cr-black-text;
            &:hover {
              color: $cr-red;
            }
          }
        }
      }
    }
    .main-menu {
      z-index: 11;
      .navbar-toggle {
        width: 100%;
        height: 60px;
        border: none;
        outline: none;
        color: #ffffff;
        padding: 0 20px;
        font-weight: 600;
        text-align: left;
        font-size: 1.2em;
        margin: 0;
        font-family: ProximaNovaSemibold, serif;
        .fa-bars {
          font-size: 1.4em;
        }
      }
      .navbar-collapse {
        padding: 0;
      }
      .nav {
        li {
          a {
            color: #ffffff;
            font-size: 1.2em;
            padding: 35px 15px;
            background-color: transparent !important;
            &:hover {
              background-color: $cr-red !important;
            }
            img {
              margin-right: 10px;
            }
          }
        }
      }
    }
  }
}

.banner {
  .slide {
    outline: none;
    img {
      width: 100%;
      outline: none;
    }
    a {
      outline: none;
    }
  }
}

.about {
  padding: 50px 0;
  .title {
    font-size: 2em;
    margin: 0 0 50px;
    text-align: center;
    color: $cr-black-text;
    small {
      color: $cr-black-text;
      font-family: ProximaNovaSemibold, serif;
    }
  }
  p {
    text-align: justify;
    margin-bottom: 15px;
    color: $cr-silver-text;
  }
}

.service {
  padding: 50px 0;
  position: relative;
  background-color: $cr-red;
  &::before {
    content: '';
    width: 0;
    height: 0;
    border-bottom: 110px solid $cr-red;
    border-right: 110px solid transparent;
    position: absolute;
    bottom: 100%;
    left: 0;
  }
  &::after {
    content: '';
    width: 0;
    height: 0;
    border-top: 110px solid $cr-red;
    border-left: 110px solid transparent;
    position: absolute;
    top: 100%;
    right: 0;
  }
  .title {
    font-size: 2em;
    margin: 0 0 50px;
    color: #ffffff;
    text-align: center;
  }
  .icon {
    display: block;
    text-align: center;
    > div {
      padding: 20px;
      margin-bottom: 20px;
      border-radius: 40px;
      display: inline-block;
      background-color: #ffffff;
    }
  }
  p {
    margin: 0;
    color: #ffffff;
    text-align: center;
    strong {
      display: block;
      font-size: 1.2em;
    }
  }
}

.recommend {
  .top {
    padding: 50px 0;
    .title {
      font-size: 2em;
      margin: 0 0 50px;
      text-align: center;
      color: $cr-black-text;
      small {
        color: $cr-black-text;
        font-family: ProximaNovaSemibold, serif;
      }
    }
    .item {
      img {
        margin: 0 auto 50px;
        display: block;
        max-width: 100%;
      }
      > div {
        padding-left: 50px;
        p {
          text-align: left;
          text-transform: uppercase;
          color: $cr-silver-text;
          font-size: 1.2em;
          strong {
            color: $cr-red;
            font-size: 1.4em;
          }
        }
        a {
          padding: 10px 15px;
          color: $cr-red;
          border-radius: 4px;
          display: inline-block;
          text-decoration: none;
          border: 1px solid $cr-red;
          &:hover {
            color: #ffffff;
            background-color: $cr-red;
          }
          .fa {
            margin-left: 10px;
            font-weight: 600;
          }
        }
      }
    }
  }
  .carousel {
    overflow: hidden;
    .title {
      font-size: 1.6em;
      margin: 20px 0;
      padding-bottom: 10px;
      border-bottom: 1px solid $cr-border;
      span {
        padding: 0 0 7px 40px;
        border-bottom: 3px solid $cr-red;
        position: relative;
        &::before {
          content: '';
          width: 0;
          height: 0;
          border-bottom: 40px solid $cr-red;
          border-right: 40px solid transparent;
          position: absolute;
          bottom: 0;
          left: 0;
        }
      }
    }
    .body {
      margin: 0 -10px 45px -10px;
      .item {
        outline: none;
        display: block;
        margin: 5px 10px;
        text-align: center;
        background-color: #ffffff;
        border: 1px solid #ffffff;
        @include box-shadow(0, 1px, 3px, rgba(0, 0, 0, 0.2));
        &:hover {
          border-color: $cr-red;
        }
        a {
          outline: none;
          display: block;
          font-size: 1.1em;
          margin-bottom: 15px;
          text-decoration: none;
          color: $cr-black-text;
          font-family: ProximaNovaSemibold, serif;
          span {
            display: block;
            padding: 0 15px;
            min-height: 44px;
          }
          &:hover {
            opacity: .75;
          }
          img {
            width: 100%;
            border-bottom: 1px solid $cr-border;
          }
        }
        .old-price {
          font-size: .9em;
          min-height: 20px;
        }
        .price {
          margin-bottom: 20px;
        }
        .add-to-cart,
        .product-not-available {
          margin-bottom: 20px;
          width: 80%;
        }
      }
      .slick-arrow {
        cursor: pointer;
        padding: 15px 17px;
        border-radius: 30px;
        color: #dddddd;
        background-color: #ffffff;
        position: absolute;
        top: 45%;
        z-index: 1;
        @include box-shadow(0, 0, 3px, rgba(0, 0, 0, 0.3));
        &:hover {
          color: $cr-red;
        }
      }
    }
  }
}

.footer-text {
  padding: 30px 0;
  color: $cr-black-text;
  background-color: #ffffff;
}

.footer {
  background-color: #333333;
  .ft-top {
    .menu {
      ul {
        li {
          color: #ffffff;
          strong {
            display: block;
            font-size: 1.2em;
            margin-bottom: 20px;
          }
          a {
            display: block;
            color: #ffffff;
            padding: 5px 0;
            text-decoration: none;
            &:hover {
              color: $cr-red;
            }
          }
        }
      }
    }
    padding: 30px 0;
    .contact {
      p {
        margin: 0;
        color: #ffffff;
        line-height: 2.8em;
        strong {
          font-size: 1.2em;
        }
        .fa {
          color: $cr-red;
          font-size: 1.6em;
          margin-right: 15px;
        }
      }
    }
  }
  .ft-bottom {
    padding: 30px 0;
    background-color: #222222;
    p {
      margin: 0;
      color: #696969;
      font-weight: 600;
    }
  }
}

.product-not-available {
  font-size: 1.2em;
  padding: 10px 50px;
  background-color: $cr-red;
  color: #ffffff !important;
  outline: none !important;
  font-family: ProximaNovaSemibold, serif;
  cursor: not-allowed;
  opacity: .65;
}

.product-detail {
  .info {
    padding: 15px 0;
    margin-bottom: 30px;
    background-color: #ffffff;
    @include box-shadow(0, 1px, 3px, rgba(0, 0, 0, 0.2));
    .title {
      margin: 0 0 15px;
      font-size: 1.6em;
    }
    .brand {
      img {
        width: 150px;
      }
    }
    p {
      overflow: hidden;
      margin-bottom: 10px;
      strong {
        color: $cr-silver-text;
      }
    }
    .cart {
      padding: 10px;
      border: 2px solid $cr-border;
      .add-to-cart,
      .product-not-available {
        width: 100%;
      }
    }
    .nav-tabs {
      margin: 20px 0;
      border-bottom: 1px solid $cr-red;
      > li {
        a {
          color: #ffffff;
          border-radius: 0;
          border-color: $cr-red;
          background-color: $cr-red;
          font-family: ProximaNovaSemibold, serif;
          &:hover,
          &:focus {
            color: $cr-black-text;
            background-color: #ffffff;
            border: 1px solid $cr-red;
            border-bottom-color: transparent;
          }
          .fa {
            margin-right: 10px;
          }
        }
        &.active {
          > a {
            color: $cr-black-text;
            background-color: #ffffff;
            border: 1px solid $cr-red;
            border-bottom-color: transparent;
          }
        }
      }
    }
  }
  .similar {
    margin-bottom: 50px;
    background-color: #ffffff;
    @include box-shadow(0, 1px, 3px, rgba(0, 0, 0, 0.2));
    .carousel {
      overflow: hidden;
      .title {
        font-size: 1.6em;
        margin: 15px 0;
        padding-bottom: 12px;
        border-bottom: 1px solid $cr-border;
        span {
          padding: 0 0 9px 15px;
          border-bottom: 3px solid $cr-red;
          position: relative;
        }
      }
      .body {
        padding: 0 10px 15px;
        .carousel-item {
          outline: none;
          display: block;
          margin: 0 5px;
          text-align: center;
          border: 1px solid $cr-border;
          &:hover {
            border-color: $cr-red;
          }
          a {
            outline: none;
            display: block;
            font-size: 1.1em;
            margin-bottom: 15px;
            text-decoration: none;
            color: $cr-black-text;
            font-family: ProximaNovaSemibold, serif;
            span {
              padding: 0 15px;
              display: block;
            }
            &:hover {
              opacity: .75;
            }
            img {
              width: 100%;
              border-bottom: 1px solid $cr-border;
            }
          }
          .old-price {
            font-size: .9em;
            min-height: 20px;
          }
          .price {
            margin-bottom: 10px;
          }
          .add-to-cart,
          .product-not-available {
            margin-bottom: 20px;
            width: 80%;
          }
        }
        .slick-arrow {
          cursor: pointer;
          padding: 15px 17px;
          border-radius: 30px;
          color: #dddddd;
          background-color: #ffffff;
          position: absolute;
          top: 45%;
          z-index: 1;
          @include box-shadow(0, 0, 3px, rgba(0, 0, 0, 0.3));
          &:hover {
            color: $cr-red;
          }
        }
      }
    }
  }
}

.product-category {
  min-height: 500px;
  margin-bottom: 50px;
  .head {
    padding: 20px;
    margin-bottom: 20px;
    background-color: #ffffff;
    @include box-shadow(0, 1px, 3px, rgba(0, 0, 0, 0.2));
    .title {
      margin: 0;
      font-size: 2em;
    }
    .view-mode {
      span {
        border-right: 1px solid #cecece;
      }
      button {
        color: #cecece;
        text-decoration: none;
        outline: none !important;
        &:hover,
        &.active {
          color: $cr-red;
        }
      }
    }
    .products-sort {
      .btn-link {
        outline: none;
        font-weight: 600;
        color: $cr-black-text;
        text-decoration: none;
        font-family: ProximaNovaSemibold, serif;
      }
      a {
        &.asc:after,
        &.desc:after {
          top: 1px;
          line-height: 1;
          padding-left: 5px;
          position: relative;
          font-style: normal;
          font-weight: normal;
          display: inline-block;
          font-family: 'Glyphicons Halflings', sans-serif;
        }
        &.asc::after {
          content: "\e151";
        }
        &.asc.sort-ordinal::after {
          content: "\e155";
        }
        &.desc::after {
          content: "\e152";
        }
        &.desc.sort-ordinal::after {
          content: "\e156";
        }
      }
    }
  }
  .filter {
    > div {
      padding: 10px;
      margin-bottom: 20px;
      background-color: #ffffff;
      @include box-shadow(0, 1px, 3px, rgba(0, 0, 0, 0.2));
    }
    .price-range {
      display: block;
      padding: 0 10px;
      > strong {
        width: 100%;
        display: block;
        text-align: center;
      }
      .slider {
        width: 100%;
        .slider-selection {
          background: $cr-red;
        }
        .slider-handle {
          background: #ffffff;
          border: 3px solid $cr-red;
        }
      }
    }
  }
  .grid-view {
    .item {
      padding: 0;
      > div {
        display: block;
        text-align: center;
        background-color: #ffffff;
        border: 1px solid #ffffff;
        @include box-shadow(0, 1px, 3px, rgba(0, 0, 0, 0.2));
        &:hover {
          border-color: $cr-red;
        }
        a {
          outline: none;
          display: block;
          text-decoration: none;
          color: $cr-black-text;
          font-family: ProximaNovaSemibold, serif;
          span {
            padding: 0 10px;
            display: block;
            height: 55px;
            overflow: hidden;
          }
          &:hover {
            opacity: .75;
          }
          img {
            width: 100%;
            border-bottom: 1px solid $cr-border;
          }
        }
        .old-price {
          font-size: .9em;
          min-height: 20px;
        }
        .price {
          margin-bottom: 10px;
        }
        .summary {
          height: 60px;
          overflow: hidden;
          margin: 0 0 5px;
        }
        .add-to-cart,
        .product-not-available {
          margin-bottom: 10px;
          width: 80%;
        }
      }
    }
  }
  .list-view {
    .item {
      margin-bottom: 10px;
      background-color: #ffffff;
      border: 1px solid #ffffff;
      @include box-shadow(0, 1px, 3px, rgba(0, 0, 0, 0.2));
      &:hover {
        border-color: $cr-red;
      }
      .info {
        > div {
          padding: 10px 0 10px 15px;
          .summary {
            overflow: hidden;
          }
          .summary,
          .price,
          .add-to-cart,
          .product-not-available {
            margin-top: 5px;
          }
        }
      }
      a {
        font-size: 1.1em;
        text-decoration: none;
        color: $cr-black-text;
        font-family: ProximaNovaSemibold, serif;
        img {
          width: 100%;
        }
        &:hover {
          color: $cr-red;
          img {
            opacity: .75;
          }
        }
      }
    }
  }
}

.product-search {
  .search-form {
    margin: 15px 0;
    .input-group {
      input {
        border: 4px solid $cr-border;
        border-top-right-radius: 0 !important;
        border-bottom-right-radius: 0 !important;
        border-right: none;
        padding: 20px 10px;
        z-index: 2;
        &:focus {
          @include box-shadow(0, 0, 6px, rgba(206, 50, 50, 0.2));
        }
      }
      button {
        outline: none;
        padding: 10px 20px;
        border: 4px solid $cr-red;
        &:hover {
          border-color: darken($cr-red, 5%) !important;
        }
      }
    }
  }
  .products {
    .list-group-item {
      .image {
        a {
          display: block;
          &:hover {
            img {
              opacity: .75;
            }
          }
          img {
            width: 100%;
          }
        }
      }
      .info {
        a {
          font-weight: 600;
          text-decoration: none;
          color: $cr-black-text;
          text-transform: uppercase;
          font-family: ProximaNovaSemibold, serif;
          &:hover,
          span {
            color: $cr-red;
          }
        }
        > p {
          margin-bottom: 10px;
        }
      }
    }
  }
}

.page-basket {
  .head {
    padding: 20px;
    margin-bottom: 20px;
    background-color: #ffffff;
    @include box-shadow(0, 1px, 3px, rgba(0, 0, 0, 0.2));
    .title {
      margin: 0;
      font-size: 2.4em;
      padding-top: 10px;
      img {
        margin-top: -10px;
        margin-right: 10px;
      }
    }
    .right {
      padding-top: 10px;
      text-align: right;
      span {
        padding: 6px 0;
        color: $cr-green;
        font-size: 1.2em;
        margin-right: 40px;
        font-family: ProximaNovaSemibold, serif;
        position: relative;
        display: inline-block;
        strong {
          color: $cr-black-text;
        }
        &::after {
          content: '';
          border-right: 1px solid $cr-border;
          height: 38px;
          position: absolute;
          right: -20px;
          top: 0;
        }
      }
    }
  }
  .body {
    padding: 20px;
    margin-bottom: 50px;
    background-color: #ffffff;
    min-height: 250px;
    @include box-shadow(0, 1px, 3px, rgba(0, 0, 0, 0.2));
    table {
      thead {
        color: $cr-silver-text;
        font-family: ProximaNovaSemibold, serif;
      }
      tbody {
        color: $cr-black-text;
        tr {
          td {
            a {
              display: table;
              text-decoration: none;
              color: $cr-black-text;
              &:hover {
                color: $cr-red;
                img {
                  opacity: .75;
                }
              }
              span {
                display: table-cell;
                vertical-align: middle;
              }
              img {
                width: 120px;
                float: left;
              }
            }
            > span {
              display: block;
              margin-top: 50px;
            }
            > .bootstrap-touchspin {
              margin-top: 45px;
              input {
                min-width: 50px;
                text-align: center;
              }
            }
            .item-remove {
              color: $cr-red;
              margin-top: 47px;
              font-size: 1.2em;
              &:hover {
                color: darken($cr-red, 5%);
              }
            }
          }
        }
      }
    }
  }
}

.page-checkout {
  margin-bottom: 50px;
  .title {
    padding: 20px;
    margin: 0 0 20px;
    background-color: #ffffff;
    @include box-shadow(0, 1px, 3px, rgba(0, 0, 0, 0.2));
  }
  .sw-main {
    .step-anchor {
      background-color: #ffffff;
      li {
        a {
          text-align: center;
          .fa {
            font-size: 2.4em;
            margin-bottom: 10px;
          }
        }
        &.active {
          a {
            color: $cr-red !important;
            &::after {
              background: $cr-red;
            }
          }
        }
        &.done {
          a {
            color: $cr-green !important;
            &::after {
              background: $cr-green;
            }
          }
        }
      }
    }
    .sw-toolbar {
      background-color: #ffffff;
    }
  }
}

.page-customer-order {

  .text-bold {
    font-weight: 600;
    font-family: ProximaNovaBold, serif;
  }

  .text-blue {
    color: #0073b7;
  }

  .text-red {
    color: #dd4b39;
  }

  .text-yellow {
    color: #f39c12;
  }

  .text-aqua {
    color: #00c0ef;
  }

  .text-green {
    color: #00a65a;
  }

  .text-light-blue {
    color: #3c8dbc;
  }

  .text-muted {
    color: #777777;
  }
}

.post-view {
  .head {
    .title {
      padding: 25px 15px;
      margin: 0 0 20px;
      text-transform: uppercase;
      background-color: #ffffff;
      @include box-shadow(0, 1px, 3px, rgba(0, 0, 0, 0.2));
    }
  }
  .products {
    h4 {
      font-size: 1.6em;
      margin: 0 -15px 20px;
      padding-bottom: 12px;
      border-bottom: 1px solid $cr-border;
      span {
        padding: 0 0 9px 15px;
        position: relative;
        border-bottom: 3px solid $cr-red;
      }
    }
    .item {
      margin-bottom: 15px;
      padding-bottom: 15px;
      border-bottom: 1px solid $cr-border;
      &:last-child {
        border-bottom: none;
      }
      .info {
        a {
          display: block;
          margin: 10px 0;
          font-size: 1.2em;
          text-decoration: none;
          color: $cr-black-text;
          font-family: ProximaNovaSemibold, serif;
          &:hover {
            color: $cr-red;
          }
        }
      }
      .image {
        .thumbnail {
          margin-bottom: 0;
          &:hover {
            border-color: $cr-red;
          }
        }
      }
    }
  }
}

.post-category {
  .head {
    .title {
      padding: 25px 15px;
      margin: 0 0 20px;
      text-transform: uppercase;
      background-color: #ffffff;
      @include box-shadow(0, 1px, 3px, rgba(0, 0, 0, 0.2));
    }
  }
  .item {
    .separator {
      margin-bottom: 20px;
      border-top: 1px solid $cr-border;
    }
    &:first-child {
      .separator {
        border-top: none;
      }
    }
    .title {
      border-bottom: 1px dotted $cr-border;
      a {
        display: block;
        padding-bottom: 10px;
        text-decoration: none;
        color: $cr-black-text;
        &:hover {
          color: $cr-red;
        }
      }
    }
    .thumbnail {
      &:hover {
        border-color: $cr-red;
      }
    }
    .date {
      color: $cr-silver-text;
      font-size: .9em;
    }
  }
}

.page-view {
  .title {
    margin: 10px 0 20px;
  }
}

.container {
  .content {
    padding: 15px;
    min-height: 350px;
    margin-bottom: 30px;
    background-color: #ffffff;
    @include box-shadow(0, 1px, 3px, rgba(0, 0, 0, 0.2));
  }
}

@import "media";
