/*!  
 * SmartWizard v4.x
 * jQuery Wizard Plugin
 * http://www.techlaboratory.net/smartwizard
 *
 * Created by Dipu Raj
 * http://dipuraj.me
 *
 * Licensed under the terms of MIT License
 * https://github.com/techlab/SmartWizard/blob/master/LICENSE
 */

/* wizard Theme: Circles */
.sw-theme-circles{
    
}
.sw-theme-circles .sw-container {
    min-height: 300px;
}
.sw-theme-circles .step-content {
    padding: 10px 0;
    background-color: #FFF;
    text-align: left;
}
.sw-theme-circles .sw-toolbar{
    background: #fff;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 0 !important;
}
.sw-theme-circles .sw-toolbar-top{
    
}
.sw-theme-circles .sw-toolbar-bottom{
    border-top-color: #ddd !important;
    border-bottom-color: #ddd !important;
}
.sw-theme-circles > ul.step-anchor{
    position: relative;
    background: #fff;
    display: block;
    border: none;
    list-style: none;
    margin-bottom: 40px;
}
.sw-theme-circles > ul.step-anchor:before {
    content: " ";
    position: absolute;
    top: 40px;
    bottom: 0;
    width: 100%;
    height: 5px;
    background-color: #f5f5f5;
    border-radius: 3px;
    z-index: 0;
}
.sw-theme-circles > ul.step-anchor > li{
    border: none;
    margin-left: 40px;
}
.sw-theme-circles > ul.step-anchor > li > a{
    border: 2px solid #f5f5f5;
    background: #f5f5f5;
    width: 75px;
    height: 75px;
    text-align: center;
    padding: 25px 0;
    border-radius: 50%;
    box-shadow: inset 0px 0px 0px 3px #fff !important;
    text-decoration: none;
    outline-style:none;
    z-index: 99;
    color: #bbb;
    background: #f5f5f5;
}
.sw-theme-circles > ul.step-anchor > li > a:hover  {
    color: #bbb;
    background: #f5f5f5;
    border-width: 2px;
}
.sw-theme-circles > ul.step-anchor > li > a > small{
    position: absolute;
    bottom: -40px;
    display: block;
    color: #ccc;
}
.sw-theme-circles > ul.step-anchor > li.clickable > a:hover {
    color: #4285F4 !important;
}
.sw-theme-circles > ul.step-anchor > li.active > a {
    border-color: #5bc0de;
    color: #fff;
    background: #5bc0de;
}
.sw-theme-circles > ul.step-anchor > li.active > a > small{
    color: #5bc0de;
}
.sw-theme-circles > ul.step-anchor > li.done > a {
    border-color: #5cb85c;
    color: #fff;
    background: #5cb85c;
}
.sw-theme-circles > ul.step-anchor > li.done > a > small{
    color: #5cb85c;
}
.sw-theme-circles > ul.step-anchor > li.danger > a {
    border-color: #d9534f;
    color: #d9534f;
    background: #fff;
}
.sw-theme-circles > ul.step-anchor > li.danger > a > small{
    color: #d9534f;
}
.sw-theme-circles > ul.step-anchor > li.disabled > a, .sw-theme-circles > ul.step-anchor > li.disabled > a:hover {
    color: #eee !important;
}

/* Loader Animation
Courtesy: http://bootsnipp.com/snippets/featured/loading-button-effect-no-js
*/
.sw-theme-circles > ul.step-anchor > li.loading:before {
    content: '';
    display: inline-block;
    position: absolute;
    background: transparent;
    border-radius: 50%;
    box-sizing: border-box;
    border: 2px solid #fff;
    border-top-color: transparent;
    border-bottom-color: transparent;
    border-left-color: #4285f4;
    border-right-color: #4285f4;
    width: 75px;
    height: 75px;
    z-index: 999;
    -webkit-animation: ld 1s ease-in-out infinite;
    -moz-animation:    ld 1s ease-in-out infinite;
    -o-animation:      ld 1s ease-in-out infinite;
    animation:         ld 1s ease-in-out infinite;
}

@-webkit-keyframes ld {
  0%   { transform: rotate(0deg) scale(1); }
  50%  { transform: rotate(180deg) scale(1.1); }
  100% { transform: rotate(360deg) scale(1); }
}
@-moz-keyframes ld {
  0%   { transform: rotate(0deg) scale(1); }
  50%  { transform: rotate(180deg) scale(1.1); }
  100% { transform: rotate(360deg) scale(1); }
}
@-o-keyframes ld {
  0%   { transform: rotate(0deg) scale(1); }
  50%  { transform: rotate(180deg) scale(1.1); }
  100% { transform: rotate(360deg) scale(1); }
}
@keyframes ld {
  0%   { transform: rotate(0deg) scale(1); }
  50%  { transform: rotate(180deg) scale(1.1); }
  100% { transform: rotate(360deg) scale(1); }
}