/* Compatibility styles for frameworks like bootstrap, foundation e.t.c */
.xzoom-source img, .xzoom-preview img, .xzoom-lens img {
    display: block;
    max-width: none;
    max-height: none;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
}

/* --------------- */

/* xZoom Styles below */
.xzoom-container {
    display: inline-block;
}

.xzoom-thumbs {
    text-align: center;
    padding: 10px 0;

}

.xzoom-img {
    width: 100%;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
}

/* Thumbs */
.xzoom-gallery {
    width: 80px;
    margin-bottom: 5px;
    border: 1px solid #cecece;
}

.xzoom-source, .xzoom-hidden {
    display: block;
    position: static;
    float: none;
    clear: both;
}

/* Everything out of border is hidden */
.xzoom-hidden {
    overflow: hidden;
}

/* Preview */
.xzoom-preview {
    border: 1px solid #888;
    background: #2f4f4f;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.50);
}

/* Lens */
.xzoom-lens {
    border: 1px solid #555;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.50);
    cursor: crosshair;
}

/* Loading */
.xzoom-loading {
    opacity: .7;
    width: 48px;
    height: 48px;
    border-radius: 100%;
    background: url(../images/xloading.gif) center center no-repeat;
}

/* Additional class that applied to thumb when it is active */
.xactive {
    -webkit-box-shadow: 0 0 3px 0 rgb(210, 66, 66);
    -moz-box-shadow: 0 0 3px 0 rgb(210, 66, 66);
    box-shadow: 0 0 3px 0 rgb(210, 66, 66);
    border: 1px solid #d24242;
}

/* Caption */
.xzoom-caption {
    position: absolute;
    bottom: -43px;
    left: 0;
    background: #000;
    width: 100%;
    text-align: left;
}

.xzoom-caption span {
    color: #fff;
    font-family: Arial, sans-serif;
    display: block;
    font-size: 0.75em;
    font-weight: bold;
    padding: 10px;
}