/* Backend CSS */

.navbar-custom-menu > .navbar-nav > li > .dropdown-menu {
    width: auto;
    border: none;
}

.user-menu .dropdown-menu {
    background-color: #222d32;
    border-radius: 0 !important;
    padding: 0 !important;
}

.user-menu .dropdown-menu li a {
    color: #ffffff;
}

.user-menu .dropdown-menu li a:hover {
    color: #000000;
}

.login-page,
.register-page {
    background: url("../images/bg-login.jpg");
}

.login-page .field-loginform-rememberme label {
    cursor: pointer;
    font-weight: normal;
}

.main-header .navbar .sidebar-toggle {
    border: none;
    outline: none;
}

.content-header {
    background-color: #ffffff !important;
    padding: 15px;
}

.btn,
.bootstrap-dialog .modal-header {
    border-radius: 0 !important;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after,
a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings', sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: "\e151";
}

a.desc:after {
    content: "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.error-summary {
    color: #c55;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

#overlay {
    display: none;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1000001;
    background-color: rgba(0, 0, 0, 0.51);
}

ul.fancytree-container {
    outline: none;
    font-size: 12pt;
}

span.fancytree-icon,
span.fancytree-radio,
span.fancytree-expander,
span.fancytree-checkbox,
span.fancytree-custom-icon {
    margin-top: 3px;
}

/* Required Field */
div.required label:after {
    content: " *";
    color: #dd4b39;
}

/* Margin */
.margin-top-5 {
    margin-top: 5px;
}

.margin-top-10 {
    margin-top: 10px;
}

.margin-top-15 {
    margin-top: 15px;
}

.margin-top-20 {
    margin-top: 20px;
}

.margin-bottom-5 {
    margin-bottom: 5px;
}

.margin-bottom-10 {
    margin-bottom: 10px;
}

.margin-bottom-15 {
    margin-bottom: 15px;
}

.margin-bottom-20 {
    margin-bottom: 20px;
}

/* Checkbox and Radio Input */
input[type='checkbox'],
input[type='radio'] {
    top: 5px;
    width: 18px;
    height: 18px;
    border: none;
    color: #fff;
    cursor: pointer;
    position: relative;
    background: #cbcbcb;
    outline: none !important;
    -webkit-appearance: none;
    /*-moz-appearance: none;*/
    /*-ms-appearance: none;*/
    /*-o-appearance: none;*/
    /*appearance: none;*/
}

input[type='checkbox']:hover,
input[type='radio']:hover {
    background: #999999;
}

input[type='checkbox']:checked,
input[type='radio']:checked {
    background: #ee8800;
}

input[type='checkbox']:checked::before,
input[type='radio']:checked::before {
    width: 18px;
    height: 18px;
    font-size: 18px;
    text-align: center;
    position: absolute;
    display: inline-block;
}

input[type='checkbox']:checked::before {
    content: '✔';
    line-height: 18px;
}

input[type='radio']:checked::before {
    content: '●';
    line-height: 16px;
}

input[type='radio'] {
    border-radius: 50%;
}

input[type='radio']::after {
    border-radius: 50%;
}

.grid-view tbody input[type='checkbox'],
.grid-view tbody input[type='radio'] {
    top: 0;
}

.header-language-picker {
    top: 18px;
    left: 50px;
    position: absolute;
}

.header-language-picker .language-picker.button-list a {
    opacity: 0.7;
}

.header-language-picker .language-picker.button-list a.active {
    opacity: 1;
}

/* Dynamic FormWrapper */
.dynamicform_wrapper .panel {
    margin-bottom: 8px;
}

.dynamicform_wrapper .form-group,
.dynamicform_wrapper .control-label,
.dynamicform_wrapper .help-block {
    margin: 0;
}

.dynamicform_wrapper .panel-heading {
    padding: 4px 8px;
}

.dynamicform_wrapper .panel-body {
    padding: 8px;
}

/* Amigos Gallery*/
.amigos-gallery img {
    max-width: 150px;
}

.select2-container--krajee .select2-selection {
    border-radius: 0;
}

.table > thead > tr > th, .table > thead > tr > th > a {
    color: #000 !important;
    text-align: center;
    white-space: nowrap;
}

.table .list-group {
    margin-bottom: 0;
}

.table .list-group .list-group-item {
    padding: 2px 8px;
}

/* min width 768px */
@media (min-width: 768px) {
    .padding-top-165 {
        padding-top: 165px;
    }

    .sidebar-mini.sidebar-collapse .sidebar-menu > li:not(.treeview) > a > span {
        border-bottom-right-radius: 0;
    }
}